body{
    text-align: center;
    background-color: black;
    margin-top: 5rem;

}

h1{
    color: blanchedalmond;
}
.Player_turn{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.turn{
    background-color: antiquewhite;
    border: solid 2px black;
    padding-top: .3rem ;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;

}
.container{
   
   margin: auto;
   margin-top: 2rem;
   border: 2px solid gray;
   height:300px;
   width: 300px;
   display: flex;
   flex-wrap: wrap;

}
.c{
    border: 1px solid gray;
    width: 98px;
    text-align: center;
    
}
.c:hover{
    background-color: aquamarine;
}

button{
    font: 1em sans-serif;
    margin-top: 4rem;
    padding-top: .3rem ;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(145, 9, 9);
    color: white;


}
button:hover{
    background-color: antiquewhite;
    color: black;
}